<VirtualHost *:80>
    ServerName web2
    DocumentRoot /var/www/web2
    ErrorLog /var/log/httpd/web2-error.log
    CustomLog /var/log/httpd/web2-access.log combined

    <Directory /var/www/web2>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>
